<div id='about_section'>
  <h3>About</h3>
  <div class="one-third column offset-by-five">
    <br>
    <p>Hi, I'm Jamie Berczel. I'm a Financial Analyst, turned long-distance Hiker, turned Web Developer.</p>
    <p>I used to work in the corporate world, but now I'm a Ruby web developer. I live in the D.C. metropolitan area, and I enjoy making things with Ruby. </p>
  </div>

  <div class="one-third column">
    <br>
    <ul id="social">
      <li><a href="http://www.github.com/jberczel">
        <i class="fa fa-github fa-2x"></i> Github</a>
      </li>
      <li><a href="mailto:me@jxberc@gmail.com">
        <i class="fa fa-envelope-o fa-2x"></i> Email</a>
      </li>
      <li><a href="/blog">
        <i class="fa fa-pencil fa-2x"></i> Blog</a>
      </li>
    </ul>
  </div>
</div>