<head>
  <meta charset="utf-8">
  <meta name="description" content="Jamie Berczel's Web Development Portfolio">
  <meta name="author" content="Jamie Berczel">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- CSS -->
  <link rel="stylesheet" href="public/css/portfolio/base.css">
  <link rel="stylesheet" href="public/css/portfolio/skeleton.css">
  <link rel="stylesheet" href="public/css/portfolio/layout.css">
  <link rel="stylesheet" href="public/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="public/css/portfolio/jquery.bxslider.css">
  <link rel="stylesheet" href="public/css/portfolio/style.css">

  <!-- Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/public/js/jquery.bxslider.min.js"></script>
  <script src="/public/js/portfolio.js"></script>

   <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">
</head>