<div id='projects_section'>
  <h3>Projects</h3>
  <br>

  <!-- SLIDER -->
  <ul id="slider" class="bxslider">
    <li><img src="/assets/agf_portfolio.png" title="AGF Search"></li>
    <li><img src="/assets/blindee_portfolio.png"  title="Blindee" /></li>
    <li><img src="/assets/atjindo_portfolio.png"  title="AT Jindo" /></li>
  </ul>
 
  <!-- ACOUSTIC GUITAR FORUM -->
  <div class="one-third column projects">
    <p><a href="http://agf.herokuapp.com"><strong>AGF Search</strong> </a>- A web app that parses Acoustic Guitar Forum's classified section (think craiglist for guitars), and creates a stream-lined table for responsive searching.</p>
    <p>Ruby/Rails, jQuery/javascript, PostgreSQL, Bourbon/Neat, Heroku Scheduler, Nokogiri gem, dataTables plugin. <a href="https://github.com/Jberczel/GuitarForumSearch">Github</a></p>
  </div>
  
  <!-- BLINDEE VOTING -->
  <div class="one-third column projects">
    <p><a href="https://blindee.herokuapp.com"><strong>Blindee</strong> </a>- A web app that provides anonymous responses to email chains. Emails are sent to invitees and responses are aggregated and presented in simple chart, after certain criteria are met. </p>
    <p>Ruby/Rails, jQuery/javascript, PostgreSQL, chartJS, Devise, Bourbon/Neat, Mandrill/Mailchimp, Bourbon/Neat. <a href="https://github.com/Jberczel/blindee">Github</a></p>
  </div>
  
  <!-- AT JINDO -->
  <div class="one-third column projects">
    <p><a href="http://www.atjindo.com/"><strong>AT Jindo</strong> </a>- A website tracking my 2013 Appalachian Trail thru-hike, 2,186 miles from Maine to Georgia. Includes photo blog, personal data and gear, and info about thru-hiking with a dog.</p>
    <p>Python, webapp2 (lightweight web framework), Google App Engine, Twiiter Bootstrap <a href="https://github.com/Jberczel/atjindo">Github</a></p>
  </div>
</div>
